{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="bg-light py-3">

    <!--menu-->
        {% block menu %}
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" height="85" alt="">
                </a>
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Início</a></li>
                  <li><a href="{% url 'sobre' %}" class="nav-link px-2 link-dark">Sobre</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Clientes</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Produtos</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="procurar..." aria-label="Search">
                </form>
        
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header>
        {% endblock %}
    

    {% block destaque %}
    <div class="bg-secondary">
        Figuras de destaque
    </div>
    {% endblock %}

   
    <div class="container">
    {% block conteudo %}
        <h3>Template de Modelo</h3>

        <p>conteúdo do site</p>
    {% endblock %}
    </div>

   
  
    <div class="text-center bg-secondary">  
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-6 mb-4">
              <h5></h5>
              <p>Entre em contato, tire suas dúvidas e solicite um orçamento!</p><br><br><br><br>
              <ul class="nav flex-column">
              <div class="contato-lado">
              <div>
                  <label> NOME </label><br>
                  <input type="text" name="nome"  id="nome"><br><br>
              </div>
                  <div>
                      <label> TELEFONE</label><br>
                      <input type="tel" name="telefone"  id="telefone"><br><br>
                  </div>
              </div>
              <div class="contato-lado">
                  <div>
                      <label>E-MAIL</label><br>
                      <input type= "tel" name="email"  id="email"><br><br>
                  </div>
                  <div>
                      <label> ASSUNTO</label><br>
                      <input type="text" name="assunto"  id="assunto"><br><br>
                      
                  </div>
              </div>
                  <div class = "mensagem-contato-responsivo">
                      <label>MENSAGEM</label><br>
                      <textarea class="mensagem-contato" name= “mensagem” rows= “3” cols= “40”> </textarea><br>

                      <div class="botão">
                          <br>
                          <button>ENVIAR</button>
                      </div>
                      
                      <div class="informações">
                          <p><img src="" style="width: 40px;"> CÉSAR LATTES, 700 BARRA DA TIJUCA,<br> RIO DE JANEIRO - RJ<br>CEP 22793-329</p> <br><br><br><p><img src="static/img/logo-whats.png" style="width: 40px; text-align: right;">+ 55 82 3477 - 8122 (CEL/WHATSAPP)</p><br><br><p><img src="static/img/logo email.png" style="height: 20px;"> CONTATO@AGENCIAARTEMPORIUM.COM.BR</p>
                      </div>
                      <br>
                  <br>
                  <br>
                  </div>
              <br>
              
              </div>
      </div>
      <br>
      <p class="política"><strong>AGENCIA ART EMPORIUM | TODOS OS DIREITOS RESERVADOS <br> POLÍTICA DE PRIVACIDADE</strong></p>
   
    
  
    </div> 
  </div>
    
  <div class="text-center bg-info">
        {% block rodape %}
        <div class="container">
            <footer class="py-5">
              <div class="row">
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-md-5 offset-md-1 mb-3">
                  <form>
                    <h5>Assine a nossa newsletter</h5>
                    <p>Resumo mensal do que há de novo e emocionante de nós.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Endereço de email</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
                      <button class="btn btn-primary" type="button">Inscrever-se</button>
                    </div>
                  </form>
                </div>
              </div>
          
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; 2022 Company, Inc. Todos os direitos reservados.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                </ul>
              </div>
            </footer>
          </div>
        {% endblock %}  
    </div>
 
 


    <script src="{% static 'js/jquery-3.4.1.min.js' %]"></script>
    <script src="{% static 'js/popper.js' %]"></script>
    <script src="{% static 'js/bootstrap.min.js' %]"></script>

    {% block script %}

    {% endblock %}
</body>
</html>